@c-dialog: c-dialog;
@title-bar-height: 50px;
@nordea-blue: blue;
@white: white;
@padding: 10px;

.@{c-dialog} {
    font-family: Arial, sans-serif;

    &__body {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        max-width: calc(100% - @padding*2);
        min-height: 400px;
        max-height: 100%;
        background-color: white;
        z-index: 1000;
        border: 2px solid #fff;
        overflow: hidden;

        .@{c-dialog}__title {
            position: absolute;
            background-color: @nordea-blue;
            color: @white;
            width: calc(100% - @padding*2);
            height: @title-bar-height;
            padding: 0 @padding;

            .@{c-dialog}__close {
                background: none;
                color: inherit;
                border: none;
                font-size: 30px;
                cursor: pointer;
                font-weight: bold;
                text-decoration: none;
                position: absolute;
                top: 5px;
                right: 5px;
                z-index: 1100;
                transition: all 200ms;
            }
        }

        .@{c-dialog}__content {
            position: absolute;
            top: @title-bar-height;
            left: 0;
            padding: @padding;
            width: calc(100% - @padding*2);
            height: calc(100% - @title-bar-height - @padding*2);
            /* let it scroll */
            overflow: auto;
        }
    }
    
    &__overlay {
        visibility: hidden;
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        transition: opacity 250ms ease-in;
        z-index: 900;

        &.open {
            visibility: inherit;
            opacity: 1;
        }
    }
}
